[submodule "RUPStrikesBack"]
	path = RUPStrikesBack
	url = https://github.com/rstyczynski/RUPStrikesBack.git
	branch = feature/version-2.0-sprint-backlog-management
[submodule "oci_scaffold"]
	path = oci_scaffold
	url = https://github.com/rstyczynski/oci_scaffold.git
